<% if flash[:errors] %>
<ul>
<% flash[:errors].each do |error|%>
<li><%= error %></li>
<% end%>
</ul>
<% end %>

<%= form_for @profile, :url => interests_path(@profile) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :age %>
<%= f.number_field :age %>

<%= f.label :zip_code %>
<%= f.number_field :zip_code %>

<%= f.label :password %>
<%= f.password_field :password %>
<br>
<h2>Pick the Interests you are Interested in</h2>
<br>
<%SubCategory.all.each do |subcategory| %>
<%= check_box_tag(:name) %>
<%= label_tag(:name, "#{subcategory.name}") %> <br><br>
<%end%>

<%= f.submit %>
<% end%>