<h1>New Profile Form</h1>


<% if flash[:errors] %>
<ul>
<% flash[:errors].each do |error|%>
<li><%= error %></li>
<% end%>
</ul>
<% end %>

<%= form_for @profile do |f|%>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :age %>
<%= f.number_field :age %>

<%= f.label :zip_code %>
<%= f.number_field :zip_code %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit %>
<% end%>


