<h1>Profile Page</h1>

<% if flash[:error] %>
<p><b><%= flash[:error] %></b></p>
<% end%>

<p><b>NAME:</b><%= @profile.name %></p>
<p><b>USERNAME:</b><%= @profile.username %></p>
<p><b>AGE:</b><%= @profile.age %></p>
<p><b>ZIP CODE:</b><%= @profile.zip_code %></p>


<h2>My Post History</h2>
  <% @profile.posts.each do |post| %>
    <%= "#{post.topic_thread.title}" %>
    <p><%= post.body%></p>
    <hr>
  <% end  %>
