<h1>Profile Page</h1>

<% if flash[:error] %>
<p><b><%= flash[:error] %></b></p>
<% end%>

<p><b>NAME:</b><%= @profile.name %></p>
<p><b>USERNAME:</b><%= @profile.username %></p>
<p><b>AGE:</b><%= @profile.age %></p>
<p><b>ZIP CODE:</b><%= @profile.zip_code %></p>

<<<<<<< HEAD
<%@profile.topic_threads.each do |thread|%>
<div class="profile_thread">
<h1><%=link_to  thread.title, topic_thread_path(thread)%></h1>
<p><%=link_to thread.sub_category.name, sub_category_path(thread.sub_category)%> <span class="views"><%=thread.views%></span></p>
</div>
<%end%>
=======

<h2>My Post History</h2>
  <% @profile.posts.each do |post| %>
    <%= "#{post.topic_thread.title}" %>
    <p><%= post.body%></p>
    <hr>
  <% end  %>
>>>>>>> 327a5edd57fffb71b266143269ba71860b684797
