<h1>Profile Page</h1>
<div class="body">
<% if flash[:error] %>
<p><b><%= flash[:error] %></b></p>
<% end%>



<p><b>NAME:</b> <%= @profile.name %></p>
<p><b>USERNAME:</b> <%= @profile.username %></p>
<p><b>AGE:</b> <%= @profile.age %></p>
<p><b>ZIP CODE:</b> <%= @profile.zip_code %></p>

  <% if @profile == @current_profile %>
    <%= button_to "Edit Profile", edit_profile_path, method: :get %>
  <% end %> 


  <h2>My Interests</h2>
  <% @profile.interests.each do |interest|%>
  <%= link_to interest.sub_category.name, sub_category_path(interest.sub_category.id) %>
  <% end%>
  <% if @profile == @current_profile %>
  <%= button_to "Add Interests", new_interest_path, method: :get %>
  <% end%>

  <h2> Topic Threads Created
<%@profile.topic_threads.each do |thread|%>
<div class="profile_thread">
<h1><%=link_to  thread.title, topic_thread_path(thread)%></h1>
<p><%=link_to thread.sub_category.name, sub_category_path(thread.sub_category)%> <span class="views"><%=thread.views%></span></p>
</div>
<%end%>


<h2>My Post History</h2>
  <% @profile.posts.each do |post| %>
    <%= link_to post.topic_thread.title, post.topic_thread %>
    <p><%= post.body%></p>
    <hr>
  <% end%>
</div>