<h1>Login</h1>

<ol>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
      <li><%= error %></li>
    <% end %>
  <% end %>
 
</ol>
 <hr>
 <div class="body">
<%= form_for :session, url: sessions_path  do |f| %>
  <%= f.label :username,:class=>"label" %>
  <%= f.text_field :username,:class=>"input"  %>

  <%= f.label :password, :class=>"label"  %>
  <%= f.password_field :password, :class=>"input" %>

  <%= f.submit "Log-in" ,:class=>"button" %>
<% end %>
</div>