<% if flash[:errors] %>
<ul>
<% flash[:errors].each do |error|%>
<li><%= error %></li>
<% end%>
</ul>
<% end %>

<%= form_for @topic_thread do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%=f.label :description%>
<%=f.text_area :description%>
<%= f.hidden_field :views, value:0%>
<%=f.hidden_field :sub_category_id, value: session[:current_sub_category]%>
<%=f.hidden_field :profile_id, value: Profile.all.sample().id%>
<%= f.submit %>
<% end%>