<!DOCTYPE html>
<html>
  <head>
    <title>Mod2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%=form_tag(create_search_path, method: :post) do%>
  <%=text_field_tag(:search, params[:search])%>
  <%=submit_tag("Search")%>
  <%end%>

  
  <ul id="nav">
        <li><%= link_to 'All Categories', categories_path %></li>
        <% if @current_profile %>
          <li class='right'><%= link_to @current_profile.name, @current_profile %></li>
          <li class='right'><%= link_to "Log Out", sessions_path, method: :delete %></li>
        <% else %>
          <li class='right'><%= link_to 'Sign-up', new_profile_path %></li>
          <li class='right'><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    <%= yield %>
  </body>
</html>
